* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: 'Montserrat', sans-serif;
    color: white;
    line-height: 1.6;
}

header {
    background-color: #1d1d1d;
    color: beige;
    padding: 20px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.9);
}

.cabeça h1 {
    margin-left: 1%;
}

.menu nav li {
    display: inline;
    margin-left: 1%;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ffcc70;
}

.receita {
    border-radius: 2%;
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 0 20px;
    background-color: #2b2a2a;

}

.receita img {
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    box-shadow: 0 0 10px #000;
}

.receita h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.receita h3 {
    font-size: 20px;
    font-family: "Dosis", sans-serif;
    margin-bottom: 20px;
}

.receita p {
    max-width: 650px;
    margin: 20px auto;
    text-align: justify;
}

.secao {
    margin-top: 30px;
    background-color: #2b2a2a;
    padding: 20px;
    border-radius: 8px;
}

.secao h3 {
    background-color: #bb7a02;
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
}

.secao ul,
.secao ol {
    text-align: left;
    margin-left: 30px;
    padding-left: 10px;
}

footer {
    margin-top: 40px;
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

